.product {
  background-color: #fff;
  display: grid;
  grid-template-columns: 70% 30%;
  height: 90vh;

  &-data {
    display: grid;
    grid-template-rows: 60% 40%;

    &-image {
      display: grid;
      place-items: center;
    }

    &-image img {
      width: 55%;
    }

    &-description {
      padding: 25px;
    }

    &-description h3 {
      font-weight: 400;
      font-size: 25px;
      margin: 5px 0;
    }

    &-descripton p {
      color: rgba(0, 0, 0, .5);
      font-size: 14px;
    }
  }

  &-name {
    display: flex;
    padding: 15px;
    flex-direction: column;

    &-status {
      font-size: 14px;
    }

    &-title {
      margin: 10px 0;
    }

    &-price {
      font-weight: 400;
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    &-buy {
      background-color: #3483fa;
      color: #fff;
      border: none;
      height: 40px;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
    }
  }

}