.navbar{
  display: flex;
  height: 5%;
  background-color:  #ffe600;
  justify-content: space-around;
  align-items: center;
  padding: 0 10%;
  margin-bottom: 2%;
}

.navbar-link{
  display: grid;
  place-items: center;
}

.navbar-logo{
  width: 55px;
  height: 40px;
}

.navbar-searchbar{  
  width: 90%;
  height: 50%;
  display: flex;
}

.navbar-input{
  width: 95%;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.navbar-input:focus{
  outline: none;
}

.navbar-search{
  background-color: #FFF;
  border:none;
}

.navbar-search::after{
  content: url('../../assets/search.png');
  width: 20px;
  height: 20px;
}